/* *********************************************

[Tables of CSS Content]

+ body
  - 1.0 Reboot CSS
  - 2.0 Spacing CSS
  - 3.0 Preloader CSS
  - 4.0 Heading CSS
  - 5.0 Backtotop CSS
  - 6.0 Buttons CSS
  - 7.0 Header CSS
  - 8.0 Hero CSS
  - 9.0 Gallery CSS
  - 10.0 Testimonial CSS
  - 11.0 Model CSS
  - 12.0 About CSS
  - 13.0 Breadcrumb CSS
  - 14.0 Blog CSS
  - 15.0 Cta CSS
  - 16.0 Team CSS
  - 17.0 Widget CSS
  - 18.0 Footer CSS
  - 19.0 Contact CSS
  ---------------------------------------------
  [Color Codes]

  $heading: #232323; [Heading Color]
  $text: #666666; [Text Color]
  $bg-gray: #f0f0f0; [Gray Background]
  $primary: #8241b4; [Primary Color]
  $white: #ffffff; [White Color]
  $dark: #000000; [Dark Color]
  $border: #ebebeb; [Border Color]
  $hover: #8241b4; [Hover Color]
  $secondary: #a6a6a6; [Secondary Color]

  ---------------------------------------------
  [Font Family: 'HK Grotesk']
--------------------------------------------- */
/* Import Fonts & All CSS */
@import url(css/default-assets/hkgrotesk-fonts.css);
@import url(css/bootstrap.min.css);
@import url(css/animate.css);
@import url(css/default-assets/classy-nav.css);
@import url(css/owl.carousel.min.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/default-assets/slick.css);
@import url(css/style.css);
/* :: 1.0 Reboot CSS */

@import url('https://fonts.googleapis.com/css2?family=Train+One');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HK Grotesk";
  font-weight: 400;
  font-size: 14px;
  background-color: #efefef;
}

.bg-note {
  background-image: url(./images/note-bg.jpg);
  background-size: cover;
}
.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.45);
}

.bottom-0 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.margin-top-50 {
  margin-top: 50px;
}
@media only screen and (max-width: 767px) {
  .bottom-0 {
    position: relative;
    bottom: 0;
  }
}

.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vh85 {
  height: 85vh;
}

.padding-30 {
  padding: 30px;
}

.copy {
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
}

iframe {
  align-items: center;
  width: 664px;
  height: 887px;
}


a.logo-name {
  font-family: 'Train One', cursive;
  font-weight: 800;
  font-size: 36px !important;
  color: white !important;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6), 
  0px 8px 13px rgba(0, 0, 0, 0.4),
  0px 18px 23px rgba(0, 0, 0, 0.3);
}


/******/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HK Grotesk";
  color: #232323;
  line-height: 1.4;
  font-weight: 600;
}

a,
a:active,
a:focus,
a:hover {
  color: #232323;
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none;
}

li {
  list-style: none;
}

p {
  line-height: 1.9;
  color: #4d4d4d;
  font-size: 17px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}

.bg-overlay {
  position: relative;
  z-index: 1;
}
.bg-overlay::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.box-shadow {
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  font-family: "object-fit: cover;";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mfp-iframe-holder .mfp-close {
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #8241b4;
  text-align: center;
  right: 0;
  padding-right: 0;
  line-height: 32px;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-gray {
  background-color: #f0f0f0 !important;
}

/* ::2.0 Spacing CSS */
.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-150 {
  margin-top: 150px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-100 {
  margin-left: 100px;
}

.pt-50 {
  padding-top: 50px !important;
}

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px;
}

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0;
}

/* :: 6.0 Buttons CSS */
.abc-btn {
  position: relative;
  z-index: 1;
  min-width: 180px;
  height: 50px;
  line-height: 46px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 0 20px;
  margin: 5px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  border-radius: 40px;
  background-color: #8241b4;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border: 2px solid #ffffff;
}
.abc-btn:focus,
.abc-btn:hover {
  box-shadow: none;
  background-color: #8241b4;
  color: #ffffff;
  border-color: #8241b4;
}
.abc-btn.btn-2 {
  border-color: #8241b4;
  color: #8241b4;
  background-color: #ffffff;
}
.abc-btn.btn-2:focus,
.abc-btn.btn-2:hover {
  color: #ffffff;
  background-color: #8241b4;
}

/* :: 7.0 Header CSS */
.header-area {
  position: fixed;
  z-index: 600;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.header-area .main-header-area.sticky {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  left: 0;
  z-index: 650;
  border-bottom-color: transparent;
}
.header-area .search-icon {
  position: relative;
  z-index: 1;
  margin-left: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .search-icon {
    margin-left: 15px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .header-area .search-icon {
    margin-left: 15px;
    margin-top: 20px;
  }
}
.header-area .search-icon i {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.classy-nav-container {
  background-color: #3e3ab5;
  /* background-color: #fff;
  background-image: linear-gradient(to right,white, #8241b4); */
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .classy-nav-container {
    padding: 10px;
  }
}
.classy-nav-container .classy-navbar {
  height: 100px;
  padding: 0 3%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .classy-nav-container .classy-navbar {
    height: 70px;
  }
}
@media only screen and (max-width: 767px) {
  .classy-nav-container .classy-navbar {
    height: 80px;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .classy-nav-container .classy-navbar .nav-brand {
    max-width: 120px;
    margin-right: 10px;
  }

  a.logo-name {
    font-size: 26px !important;
  }
}
.classy-nav-container .classy-navbar .classynav ul li a {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
}
.classy-nav-container .classy-navbar .classynav ul li a:focus,
.classy-nav-container .classy-navbar .classynav ul li a:hover {
  color: #ffffff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .classy-nav-container .classy-navbar .classynav ul li a {
    font-size: 17px;
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .classy-nav-container .classy-navbar .classynav ul li a {
    border-bottom: none;
    padding: 0 8px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 767px) {
  .classy-nav-container .classy-navbar .classynav ul li a {
    border-bottom: none;
    padding: 0 8px;
    font-size: 17px;
  }
}
.classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a {
  font-size: 14px;
  text-transform: capitalize;
}
.classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #5bd0b5;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
    width: 100%;
    height: 1px;
  }
}
@media only screen and (max-width: 767px) {
  .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
    width: 100%;
    height: 1px;
  }
}

.classynav ul li.has-down > a::after,
.classynav ul li.has-down.active > a::after,
.classynav ul li.megamenu-item > a::after {
  color: #ffffff;
}

.breakpoint-off .classynav ul li .dropdown {
  background-color: #8241b4;
}

.classynav ul li .dropdown li a {
  border-bottom: none;
  height: 40px;
}

.classynav ul li .dropdown li .dropdown li .dropdown li a,
.classynav ul li .dropdown li .dropdown li a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .classy-navbar-toggler .navbarToggler span {
    background-color: #ffffff;
  }
}
@media only screen and (max-width: 767px) {
  .classy-navbar-toggler .navbarToggler span {
    background-color: #ffffff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: #8241b4;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2);
  }

  .breakpoint-on .classynav > ul > li > a {
    background-color: #8241b4;
  }

  .classycloseIcon .cross-wrap span {
    background-color: #ffffff;
  }
}
@media only screen and (max-width: 767px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: #8241b4;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2);
  }

  .breakpoint-on .classynav > ul > li > a {
    background-color: #8241b4;
  }

  .classycloseIcon .cross-wrap span {
    background-color: #ffffff;
  }
}


/* :: 10.0 Testimonial CSS */
.clients-feedback-area {
  position: relative;
  z-index: 1;
}
.clients-feedback-area .client-feedback-text {
  position: relative;
  z-index: 1;
}
.clients-feedback-area .client-feedback-text .quote-icon i {
  display: block;
  font-size: 72px;
  margin-bottom: 20px;
  color: #8241b4;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.clients-feedback-area .client-feedback-text .client-description h4 {
  margin-bottom: 30px;
  font-size: 34px;
}
@media only screen and (max-width: 767px) {
  .clients-feedback-area .client-feedback-text .client-description h4 {
    font-size: 22px;
  }
}
.clients-feedback-area .client-feedback-text .ratings {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
.clients-feedback-area .client-feedback-text .ratings i {
  color: #e99d19;
  font-size: 14px;
}
.clients-feedback-area .client-feedback-text .client-name h5 {
  font-size: 22px;
  margin-bottom: 0;
}
.clients-feedback-area .client-feedback-text .client-name span {
  color: #6b6b6b;
  text-transform: uppercase;
  margin-bottom: 0;
}
.clients-feedback-area .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients-feedback-area .slick-dots li button {
  width: 12px;
  height: 12px;
  text-indent: -999999999999999999999999px;
  border: 3px solid #ebebeb;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 5.5px;
  outline: none;
}
.clients-feedback-area .slick-dots li.slick-active button {
  background-color: #8241b4;
  border-color: #8241b4;
}
.clients-feedback-area .slick-slide.client-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 129px;
}
.clients-feedback-area .slick-slide img {
  display: block;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
  border: 5px solid #ffffff;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .clients-feedback-area .slick-slide img {
    width: 60px !important;
    height: 60px !important;
  }
}
@media only screen and (max-width: 767px) {
  .clients-feedback-area .slick-slide img {
    width: 60px !important;
    height: 60px !important;
  }
}
.clients-feedback-area .slick-slide.slick-current:focus {
  box-shadow: none;
  outline: none;
}
.clients-feedback-area .slick-slide.slick-current img {
  width: 100px !important;
  height: 100px !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .clients-feedback-area .slick-slide.slick-current img {
    width: 80px !important;
    height: 80px !important;
  }
}
@media only screen and (max-width: 767px) {
  .clients-feedback-area .slick-slide.slick-current img {
    width: 80px !important;
    height: 80px !important;
  }
}
.clients-feedback-area .slick-slide.slick-current img:focus {
  box-shadow: none;
  outline: none;
}
.clients-feedback-area .slick-arrow {
  position: absolute;
  width: 30px;
  background-color: #ffffff;
  height: 100%;
  text-align: center;
  font-size: 24px;
  color: #b5aec4;
  display: block;
  line-height: 550%;
  left: 0;
  z-index: 90;
  cursor: pointer;
}
.clients-feedback-area .slick-arrow.fa-angle-right {
  left: auto;
  right: 0;
  top: 0;
}

/* :: 12.0 About CSS */
.about-us-thumbnail {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}
.about-us-thumbnail img {
  width: 100%;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
.about-us-thumbnail .line {
  width: 100px;
  height: 15px;
  background-color: #8241b4;
  position: absolute;
  z-index: 10;
  top: -15px;
  right: -15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.about-us-thumbnail .line::after {
  content: "";
  height: 100px;
  width: 15px;
  background-color: #8241b4;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.about-us-thumbnail .line2 {
  width: 100px;
  height: 15px;
  background-color: #8241b4;
  position: absolute;
  z-index: 10;
  bottom: -15px;
  left: -15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.about-us-thumbnail .line2::after {
  content: "";
  height: 100px;
  width: 15px;
  background-color: #8241b4;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.about-us-thumbnail:focus .line,
.about-us-thumbnail:hover .line {
  opacity: 1;
  visibility: visible;
  top: 0;
  right: 0;
}
.about-us-thumbnail:focus .line2,
.about-us-thumbnail:hover .line2 {
  opacity: 1;
  visibility: visible;
  bottom: 0;
  left: 0;
}

.about-us-content {
  position: relative;
  z-index: 1;
  padding-left: 10%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-us-content {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-us-content {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .about-us-content {
    padding-left: 0;
  }
}
.about-us-content h2 {
  font-size: 48px;
  margin-bottom: 15px;
  line-height: 1.3;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-us-content h2 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-us-content h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .about-us-content h2 {
    font-size: 30px;
  }
}
.about-us-content p {
  margin-bottom: 30px;
}
.about-us-content p:last-child {
  margin-bottom: 0;
}

/* :: 13.0 Breadcrumb CSS */
.breadcumb-area {
  position: relative;
  z-index: 1;
  height: 270px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcumb-area {
    height: 220px;
  }
}
@media only screen and (max-width: 767px) {
  .breadcumb-area {
    height: 180px;
  }
}
.breadcumb-area .title {
  font-size: 60px;
  margin-bottom: 0;
  text-transform: capitalize;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .breadcumb-area .title {
    font-size: 48px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcumb-area .title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .breadcumb-area .title {
    font-size: 30px;
  }
}
.breadcumb-area .breadcumb--con .breadcrumb {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
}
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item,
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a,
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active {
  font-size: 18px;
  text-transform: capitalize;
  color: #232323;
  font-weight: 500;
  letter-spacing: normal;
}
@media only screen and (max-width: 767px) {
  .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item,
  .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a,
  .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active {
    font-size: 14px;
  }
}
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item:focus,
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item:hover,
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a:focus,
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a:hover,
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:focus,
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
  color: #8241b4;
}
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active {
  color: #a6a6a6;
}
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:focus,
.breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
  color: #a6a6a6;
}
.breadcumb-area .breadcumb--con .breadcrumb .page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.breadcumb-area .breadcumb--con .breadcrumb .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.breadcumb-area
  .breadcumb--con
  .breadcrumb
  .breadcrumb-item
  + .breadcrumb-item::before {
  content: "\f105";
  font-family: "FontAwesome";
}

.blog-details-content {
  position: relative;
  z-index: 1;
}
.blog-details-content .post-content .post-date {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a6a6a6;
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
}
.blog-details-content .post-content h2 {
  color: #232323;
  font-size: 36px;
  display: block;
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .blog-details-content .post-content h2 {
    font-size: 24px;
  }
}
.blog-details-content .post-content .post-meta a {
  font-size: 16px;
  color: #a6a6a6;
  display: inline-block;
  margin-right: 15px;
}
.blog-details-content .post-content .post-meta a:last-child {
  margin-right: 0;
}
.blog-details-content .post-content .post-meta a:focus,
.blog-details-content .post-content .post-meta a:hover {
  color: #8241b4;
}
.blog-details-content h1,
.blog-details-content h2,
.blog-details-content h3,
.blog-details-content h4,
.blog-details-content h5,
.blog-details-content h6 {
  margin-bottom: 15px;
}
.blog-details-content p {
  font-size: 16px;
  color: #232323;
}

.abc-blockquote {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 30px;
}
.abc-blockquote .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  max-width: 70px;
  width: 70px;
}
@media only screen and (max-width: 767px) {
  .abc-blockquote .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    max-width: 50px;
    width: 50px;
  }
}
.abc-blockquote .icon i {
  font-size: 60px;
  color: #8241b4;
}
@media only screen and (max-width: 767px) {
  .abc-blockquote .icon i {
    font-size: 30px;
  }
}
.abc-blockquote .text h5 {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 15px;
  color: #232323;
  line-height: 1.6;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .abc-blockquote .text h5 {
    font-size: 16px;
  }
}
.abc-blockquote .text h6 {
  color: #a6a6a6;
  font-size: 16px;
}


/* :: 15.0 CTA CSS */
.cta-area {
  position: relative;
  z-index: 1;
  background-color: #5bd0b5;
}

.cta-content {
  position: relative;
  z-index: 1;
  text-align: center;
}
.cta-content h2 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #fff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cta-content h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta-content h2 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 767px) {
  .cta-content h2 {
    font-size: 28px;
  }
}
.cta-content h6 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}

.single-widget-area {
  position: relative;
  z-index: 1;
}
.single-widget-area .widget-title {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: capitalize;
}
@media only screen and (max-width: 767px) {
  .single-widget-area .widget-title {
    font-size: 24px;
  }
}

.catagories-list {
  position: relative;
  z-index: 1;
}
.catagories-list li a {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #232323;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .catagories-list li a {
    font-size: 16px;
  }
}
.catagories-list li a i {
  margin-right: 10px;
}
.catagories-list li a:focus,
.catagories-list li a:hover {
  color: #8241b4;
}
.catagories-list li:first-child a {
  padding-top: 0;
}
.catagories-list li:last-child a {
  padding-bottom: 0;
}

/* :: 18.0 Footer CSS */
.footer-area {
  position: relative;
  z-index: 1;
  background-color: #e1dfe0;
}
.copywrite-text {
  position: relative;
  z-index: 1;
  margin-top: 20px;
}
.copywrite-text p {
  font-size: 16px;
  color: #a6a6a6;
  margin-bottom: 0;
}
.copywrite-text p a {
  color: #a6a6a6;
}
.copywrite-text p a:focus,
.copywrite-text p a:hover {
  color: #8241b4;
}

/*# sourceMappingURL=style.css.map */